html, body {
    position: relative;
	width: 100%;
	height: 100%;
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    padding: env(safe-area-inset-top, 0px) env(safe-area-inset-right, 0px) env(safe-area-inset-bottom, 0px) env(safe-area-inset-left, 0px);
	color: #333;
	margin: 0;
	padding: 8px;
	box-sizing: border-box;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

a {
	color: rgb(0,100,200);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a:visited {
	color: rgb(0,80,160);
}

label {
	display: block;
}

input, button, select, textarea {
	font-family: inherit;
	font-size: inherit;
	-webkit-padding: 0.4em 0;
	padding: 0.4em;
	margin: 0 0 0.5em 0;
	box-sizing: border-box;
	border: 1px solid #ccc;
	border-radius: 2px;
}

input:disabled {
	color: #ccc;
}

button {
	color: #333;
	background-color: #f4f4f4;
	outline: none;
}

button:disabled {
	color: #999;
}

button:not(:disabled):active {
	background-color: #ddd;
}

button:focus {
	border-color: #666;
}
.now{
	background:red;
}
.tablerow{
		background: var(--fb);
	}
	
	.delete{
		position: relative;
		width: 20%;
		color: transparent;
	}
	.delete::before{
		content: "DELETE";
		position: absolute;
		color:var(--bl);
		background: #2698fb2c;
		height: 100%;
		top:0;
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
	}
	.tabledata{
		padding: 0px 5px;
	}
	.tabletitle{
		color:var(--tc);
		font-size: 1rem;
		font-weight: 200;
		text-transform: uppercase;
	}
	.com{
		color:var(--tc);
		font-size: 0.75rem;
		font-weight: 200

	}